/* Background */
.Home {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url('../assets/bckgrnd.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  flex-direction: column;
}

/* Marquee */
.marquee {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(44, 12, 12, 0.8);
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 12px 0;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

.marquee-text {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* Center Text */
.left-center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 5vw;
  z-index: 1;
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden;
  line-height: 1.1;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Start Button */
.start-button {
  margin-top: 20px;
  padding: 16px 30px;
  background-color: rgb(31, 31, 31);
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease-in-out;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.start-button:hover {
  background-color: rgb(135, 0, 0);
  transform: scale(1.05);
}

.start-button:active {
  transform: scale(1);
}

/* Responsiveness */
@media (max-width: 1024px) {
  .left-center-text {
    font-size: 6vw;
  }

  .start-button {
    font-size: 1.1rem;
    padding: 14px 24px;
  }

}

@media (max-width: 768px) {
  .left-center-text {
    font-size: 7vw;
    top: 40%;
  }

  .start-button {
    font-size: 1.1rem;
    padding: 14px 24px;
  }
}

@media (max-width: 480px) {
  .left-center-text {
    font-size: 8vw;
    top: 45%;
  }

  .start-button {
    font-size: 1.2rem;
    padding: 12px 20px;
  }

  .marquee {
    font-size: 16px;
    padding: 8px 0;
  }
}

@media (max-width: 600px) {
  .left-center-text {
    font-size: 9vw;
    top: 40%;
  }

  .start-button {
    font-size: 1.3rem;
    padding: 10px 20px;
  }
}